 <!-- NAV BAR -->
 <div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="logo-area">
                    <a href="/" style="color: #fff;font-style:bold"><i class="fa fa-home"></i> HOME</a>
                </div>
            </div>
        </div>
    </div>
</div>