<%- include('./includes/head.ejs') %>

<body>
    <div class="container">
        <div class="row" style="margin-top: 5%;">
            <h2>Binary Calculator</h2>
            <hr>
            <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                <form action="/convertBtoD" method="post">
                            <div class="card-header">
                                <h3>Convert Binary Value to Decimal Value</h3>
                                </div>
                                <div class="card-body">
                                    <div class="form-check form-check-inline">
                                        <div class="row">
                                            <label class="col" for="">Binary Value</label>
                                            <input class="form-control col" name="binary" type="text" placeholder="100110101"/>
                                          
                                        </div>
        
                                        <div style="align-items: center;">
                                            <button type="submit" class="btn btn-info">Calculate</button>
                                        </div>
                                        <div style="margin-top:30px; background-color:azure"><h3>The Result is = <%= decimalValue %></h3></div>
                                      </div>
                                </div>
                                </form>
                            </div>
                    
            </div>

            <div class="row">
                <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                    <form action="/convertDtoB" method="post">
                                <div class="card-header">
                                    <h3>Convert Decimal Value to Binary Value</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-check form-check-inline">
                                            <div class="row">
                                                <label class="col" for="">Decimal Value</label>
                                                <input class="form-control col" name="decimalVal" type="text" placeholder="167"/>
                                              
                                            </div>
            
                                            <div style="align-items: center;">
                                                <button type="submit" class="btn btn-info">Calculate</button>
                                            </div>
                                        <div style="margin-top:30px; background-color:azure"><h3>The Result is = <%= binaryValue %></h3></div>

                                          </div>
                                    </div>
                                    </form>
                                </div>
                        
                </div>
        </div>

<%- include('./includes/end.ejs') %>