<%- include('./includes/head.ejs') %>

<body>

    <%- include('./includes/nav.ejs') %>

    <div class="container">
        <div class="row" style="margin-top: 5%;">
            <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                <h3>math calculator</h3>
                                </div>
                            </div>
            </div>
        </div>
<%- include('./includes/end.ejs') %>